.col{
  display: flex;
  flex-direction: row;
  margin: 80px 15px;
  width: 100%;
}
.logo img{
  display: block;
  margin: auto;
}
.logo{
  width: 30%;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-right: 120px;
}
.info .clgname{
  font-size: 20px;
}
.info h2{
  text-decoration: underline;
  text-decoration-color: black;
  margin-bottom: 15px;
  font-size: 34px;
  word-spacing: 4px;
}
.info p{
  line-height: 25px;
}