*{
  box-sizing: border-box;
}
.sidebar-nav {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-group {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 60px;
}


.list-group-item {
  position: relative;
  display: block;
  padding: 13px 50px;
  margin-bottom: -1px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.list-group-item a{
  color: black;
  text-decoration: none;
}