* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-family: 'PT Sans', sans-serif; */
}

/* .Branchwise_placement_BarChart canvas {
	width: 500px !important;
} */
canvas {
	width: 500px !important;
	/* height: 500px !important; */
}
.Top_Five_Recruiter_PieChart canvas{
  width: 320px !important;
}
.firstRow {
	margin-top: 70px;
}
.firstRow,
.secoundRow,
.thirdRow{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 150px;
}
