.details h1{
  text-decoration: underline;     
  text-decoration-color: black;
  margin-bottom: 20px;
}
.details {
  text-align: justify;
  margin: 20px 35px;
  line-height: 22px;
  word-spacing: 2px;
}
canvas {
	width: 500px !important;
	/* height: 500px !important; */
}
.Top_Five_Recruiter_PieChart canvas{
  width: 320px !important;
	margin-left: 0px;
}
.firstRow {
	/* margin-top: 70px; */
}
.firstRow,
.secoundRow,
.thirdRow{
	display: flex;
	/* justify-content: space-around; */
	justify-content: space-between;
	align-items: center;
	margin-bottom: 130px;
}